body {
    background: #1abc9c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.traffic_light {
    background-color: black;
    width: 130px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.traffic_light_item {
    background: white;
    width: 70px;
    height: 70px;
    margin-top: 16px;
    border-radius: 50%;
    
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 30px;
    cursor: pointer;
    margin-left: 10px;
}

